.ButtonContainer{
    margin: 15px 0 0 55px;
    /* border: 2px solid red; */
}
.ButtonContainer button{
    outline: none;
    width: 10%;
    padding: 8px 0;
    font-size: 18px;
    font-family: AvenirNextLTPro-Bold;
    border-radius: 5px;
    
}
.ActiveClass{
    margin: 0 0 0 13px;
    background-color: var(--White);
    border: 2px solid var(--Yellow);
}
.SecondButton{
    background-color: var(--Yellow);
    margin: 0 0 0 15px;
}
.ActiveClass:hover,.SecondButton:hover{
    cursor: pointer;
}
.HeaderContainer{
    width: 91.5%;
    margin: 10px auto 10px auto;
    /* border: 2px solid green; */
    padding: 15px 0;
    background-color: var(--Yellow);
}
.HeaderContainer p{
    font-family: CircularSTD-Black;
    font-size: 22px;
    text-align: center;
}
.InnerCardContainer{
    width: 90%;
    margin: 10px auto 10px auto;
    border: 2px solid var(--Black);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.NameContainer, .MobileContainer{
    display: flex;
    align-items: center;
}
.NameContainer i,.MobileContainer i{
    color: var(--Black);
    font-size: 22px;
    margin: 0 0 10px 5px;
}
.ButtonContainerInner{
    display: flex;
    align-items: center;
}

.MenuContainer p{
    margin: 5px 0 0 0;
    font-size: 18px;
    font-family: AvenirNextLTPro-Regular;
}
.TotalContainer p{
    margin: 10px 0 0 0;
    font-size: 18px;
    font-family: CircularStd-Black;
}
.NameContainer p,.MobileContainer p{
    font-size: 19px;
    font-family: CircularStd-Book;
    margin:  0 0 10px 0;
}
.ButtonOneContainer button{
    background-color: var(--Yellow);
    padding: 10px;
    border-radius: 5px;
    font-family: AvenirNextLTPro-Bold;
   margin: 10px 10px 0 0;
    font-size: 16px;
}
.ButtonTwoContainer button{
    background-color: var(--Yellow);
    padding: 10px;
    margin: 10px 0 0 0;
    border-radius: 5px;
    font-family: AvenirNextLTPro-Bold;

    font-size: 16px;
}