#cont {
  background-color: blue;
  border: 2px solid red;
}
.cartContainer {
  display: flex;
  flex-direction: column;
  float: right;
  position: absolute;
  top: 68vh;
  right: 5vw;
  width: 30vw;
  /* height: 30vh; */
  border: 3px solid var(--Yellow);
}

.cartHead {
  display: flex;
  position: absolute;
  /* position: fixed; */
  top: 64vh;
  right: 32vw;
}

.chkoutBtn {
  display: flex;
  position: relative;
  margin: 3% auto;
  width: 100%;
  height: 8vh;
  text-align: center;
  justify-content: center;
}

.chkoutBtn:hover {
  cursor: pointer;
}

.chkoutBtn > p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: AvenirNextLTPro-Bold;
  font-size: 130%;
  background-color: var(--Yellow);
  width: 90%;
}
