.Modal{
    width: 40%;
    margin: 0 auto;
    height: auto;
    position: relative;
    top: 20%;
    opacity: 1;
    border: 2px solid var(--Black);
    z-index: 9999;
    background-color: var(--white);
}
.Outer{
    width: 100%;
    background-color: white;
    height: 100%;
}
.TitleContainer{
    background-color: var(--Yellow);
    padding: 15px 0;
}
.TitleContainer p{
    text-align: center;
    font-family: AvenirNextLTPro-Bold;
    font-size: 22px;
}
.TitleContainer i{
    font-size: 30px;
   float: right;
    /* border: 2px solid red; */
    margin: -30px 15px 0 0;
}
.TitleContainer i:hover{
    cursor: pointer;
}
.FormContainer{
    width: 70%;
    margin: 0px auto 0px auto;
    text-align: center;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.FoodNameContainer{
width: 100%;
    /* border: 2px solid red;   */
    margin: 10px 0 10px 0;
}

.FoodInput input{
    width: 40%;
    outline: none;
    margin: 5px 0 0 0;
 height: 20px;
}
.TypeContainer{
    width: 100%;
    margin: 10px 0 10px 0;
}
.TypeSelect select{
    width: 40%;
    outline: none;
    margin: 5px 0 0 0;
    height: 25px;
}
.PriceText p,.TimeText p,.TypeText p,.FoodName p{
    /* text-align:left; */
   
    font-size: 17px;
    /* background-color: blue; */
    margin: 0 auto;
    text-align: left;
    font-family: CircularStd-Book;
    width: 40%;
}
.PriceContainer{
    width: 100%;
    margin: 10px 0 10px 0;
}
.PriceInput input{
    width: 40%;
    outline: none;
    margin: 5px 0 0 0;
    height: 20px;
}
.ImageContainer{
    width: 100px;
    height: 100px;
    margin: 10px 0 0 0;
}
.TimeContainer{
    width: 100%;
    margin: 10px 0 10px 0;
}
.TimeInput input{
    width: 40%;
    outline: none;
    margin: 5px 0 0 0;
    height: 20px;
}
.ImageContainer{
   height: 100px;
   width: 100px;
}
.ImageContainer img{
    width: 100%;
    height: 100%;
}
.UpdateButton{
    width: 100%;
}
.UpdateButton input{
    width: 30%;
    padding: 8px 0;
    background-color: var(--Yellow);
    margin: 15px 0 10px 0;
    outline: none;
    font-family: CircularStd-Black;
    font-size: 18px;
}
.UpdateButton input:hover{
    cursor: pointer;
}
 .OverlayClass{
    opacity: 1;
    height: 100vh;
} 
.LabelContainer{
    height: 100%;
    width: 100%;
    border: 2px solid var(--Black);
    height: 100px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.LabelContainer img{
    height: 100%;
    width: 100%;
    /* border-radius: 50%; */
    opacity: 0.4;
    
}

.LabelContainer p{
    font-family:AvenirNextLTPro-Bold;
    font-size: 14px;
    position: absolute;
    top: 380px;
    font-weight: bold;
    cursor: pointer;
}

.ProfileInput input{
    display: none;
   
}
