*{
    margin: 0;
    padding: 0;
}
.InnerContainer{
    width: 90%;
    margin: 0px auto 0 auto;
    /* border: 2px solid red; */
}
.EditProfileTextContainer{
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 0;
    align-items: center;
}
.EditProfileText p{
    font-family: CircularStd-Book;
    font-size: 22px;
    font-weight: bold;
}
.BackDashboardButton{
    /* border: 2px solid red; */
    margin: 0 180px 0 0;
}
.BackDashboardButton button{
    width: 120%;
    background-color: var(--Yellow);
    padding: 8px;
    font-family: AvenirNextLTPro-Bold;
    font-size: 16px;
    border-radius: 5px;
}
.FirstContainer{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--Yellow);
}
.ImageContainer{
    
    height: 200px;
    width: 200px;
    
    margin: 0 0 0 40px;
}
.ImageContainer img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.InputOne{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.InputTwo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 2px solid red; */
    margin: 10px 0 0 10px;
}
.InputContainer{
    margin: 0 250px 0 0;
    /* border: 2px solid red; */
    width: 60%;
}
.AreaName p{
    font-family: CircularStd-Book;
    font-size: 18px;
}
.AreaName{
    width: 30%;
}

.InstagramContainer,.FaceBookContainer{
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    width: 30%;
    margin: 20px 0 0 0;
}
.FaceBookContainer input,.InstagramContainer input, .AreaName input{
   padding: 5px;
   width: 100%;
   outline: none;
}
.FaceBookContainer i,.InstagramContainer i{
    font-size: 30px;
    margin: 0 5px 0 0;
}
.PinCodeContainer{
    width: 35%;
    /* border: 2px solid green; */
}
.PinCodeContainer input,.BioContainer textarea{
    width: 90%;
    padding: 5px;
    outline: none;
}
.BioContainer {
    width: 65%;
}



.ProfileInput{
    height: 200px;
    width: 200px;
    
    margin: 0 0 0 40px;
    border: 2px solid  var(--Black);
    border-radius: 50%;
    /* margin: 10px  auto 10px auto; */
}
.ProfileInput input{
    display: none;
   
}
.LabelContainer{
    height: 100%;
    width: 100%;
    /* border: 2px solid orange; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.LabelContainer img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0.4;
    
}

.LabelContainer p{
    font-family:AvenirNextLTPro-Bold;
    font-size: 18px;
    position: absolute;
    top: 280px;
    font-weight: bold;
}
