@font-face{
  font-family: CircularStd-Black;
  src:url('./assets/fonts/Circular-STD/CircularStd-Black.ttf')
}
@font-face{
  font-family: CircularStd-BlackItalic;
  src:url('./assets/fonts/Circular-STD/CircularStd-BlackItalic.ttf')
}
@font-face{
  font-family: CircularStd-Bold;
  src:url('./assets/fonts/Circular-STD/CircularStd-Bold.ttf')
}
@font-face{
  font-family: CircularStd-BoldItalic;
  src:url('./assets/fonts/Circular-STD/CircularStd-BoldItalic.ttf')
}

@font-face{
  font-family: CircularStd-Book;
  src:url('./assets/fonts/Circular-STD/CircularStd-Book.ttf')
}
@font-face{
  font-family: CircularStd-BookItalic;
  src:url('./assets/fonts/Circular-STD/CircularStd-BookItalic.ttf')
}
@font-face{
  font-family: CircularStd-Medium;
  src:url('./assets/fonts/Circular-STD/CircularStd-Medium.ttf')
}
@font-face{
  font-family: CircularStd-MediumItalic;
  src:url('./assets/fonts/Circular-STD/CircularStd-MediumItalic.ttf')
}
@font-face {
  font-family: AvenirNextLTPro-Bold;
  src: url('./assets/fonts/avenir-next/AvenirNextLTPro-Bold.otf');
}
@font-face {
  font-family: AvenirNextLTPro-lt;
  src: url('./assets/fonts/avenir-next/AvenirNextLTPro-It.otf');
}
@font-face {
  font-family: AvenirNextLTPro-Regular;
  src: url('./assets/fonts/avenir-next/AvenirNextLTPro-Regular.otf');
}

:root{
  --Yellow:#FFD803;
  --Black:#272343;
  --White:#FFFFFE;
}